<section id="about">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>About Me</h5>

            <h2>Let me introduce myself.</h2>

            <div class="intro-info">
                <!-- <img class="lazy" src="images/sai_8x10.jpg" alt="Profile Picture"> -->

                <p class="lead">I am a comprehensive full-stack developer and visual design enthusiast with over 12
                    years of experience crafting innovative and user-centric digital solutions. From designing elegant
                    front-end interfaces to developing robust back-end systems, I excel in merging technical expertise
                    with creative vision. With a proven track record of delivering projects promptly and within budget,
                    I can help elevate your next venture to new heights of success.</p>
            </div>
        </div>
    </div>
    <!-- /section-intro -->

    <div class="row about-content">
        <div class="col-five tab-full">
            <h3>WHY ME?</h3>

            <ul class="qualitiesUL" style="padding-left: 20px">
                <li>Skilled in writing clean, scalable code and proficient in debugging and Cross-Browser Compatibility
                    Testing.</li>
                <li>Experienced in Agile Development Methodologies with a track record of achieving results.</li>
                <li>Extensive experience in marketing and project management, adept at delivering results efficiently
                    and autonomously.</li>
                <li>Knowledgeable in implementing SEO Best Practices to boost digital presence and organic traffic.</li>
                <li>Excellent problem-solving and communication skills, with a focus on innovative solutions tailored to
                    specific business requirements.</li>
                <li>Detail-oriented and capable of managing multiple projects effectively.</li>
                <li>Collaborative team player with a talent for simplifying challenges and introducing new techniques.
                </li>
                <li>Proficient in freehand illustration and adaptable to Mac OS, Linux, and Windows platforms.</li>
                <!-- <li>I work with an aim, commitment, and honesty.</li> -->
            </ul>
        </div>

        <div class="tab-full centerText600 col-seven">
            <h3>Skills</h3>

            <ul class="skillsCenter" style="padding-left: 20px">
                <li><strong class="skillStrongTitle">Languages & Frameworks: </strong>Java 8/11, JavaScript (Node,
                    React, Native, Angular, Vue), Python, PHP, HTML5, CSS3, SASS</li>
                <li><strong class="skillStrongTitle">API Development, Cloud Infrastructure and Database Management:
                    </strong>MySQL, NoSQL, MongoDB Atlas, APIs, Firebase, AWS, Google Cloud, Express.js, Spring</li>
                <li><strong class="skillStrongTitle">Content Management Systems: </strong>Adobe Experience Manager
                    (AEM), WordPress, Drupal, Shopify, WooCommerce</li>
                <li><strong class="skillStrongTitle">Version Control: </strong>Git, GitHub, Git Kraken</li>
                <li><strong class="skillStrongTitle">Server Environment: </strong>Apache, Docker</li>
                <li><strong class="skillStrongTitle">Testing & Deployment: </strong>Jest, Postman, Heroku, AWS S3, SNYK
                </li>
                <li><strong class="skillStrongTitle">Design Software: </strong>Adobe Creative Suite (Photoshop,
                    Illustrator, InDesign, XD), Sketch, Figma, Miro, Coral, AutoCAD</li>
                <li><strong class="skillStrongTitle">UI/UX Design Tools: </strong>Wireframing, Prototyping, InVision,
                    Understanding of UI/UX Design Principles</li>
                <li><strong class="skillStrongTitle">Typography & Color Theory: </strong>Visual Hierarchy, Color
                    Psychology</li>
                <li><strong class="skillStrongTitle">Responsive Design: </strong>Media Queries, Bootstrap, Material UI,
                    Sencha EXT.js</li>
                <li><strong class="skillStrongTitle">Animation & Motion Graphics: </strong>Adobe After Effects, SVG
                    Animation</li>
                <li><strong class="skillStrongTitle">Accessibility Tools: </strong>Proficient in utilizing design and
                    dev tools compliant with Section 508 and equivalent accessibility standards and regulations</li>
            </ul>
        </div>
    </div>
    <!-- /why me section -->

    <div class="row button-section">
        <div class="col-twelve">
            <a onclick="openEmail()" href="#" title="Collaborate with Me" class="button stroke smoothscroll">Let's
                Collaborate</a>
            <a href="images/KD_Resume.pdf" target="_black" title="Download CV" class="button button-primary"
                download>Download CV</a>
        </div>
    </div>
    <!-- /call to action buttons -->
</section>