<section id="contact">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Contact</h5>

            <h2>I'd Love To Hear From You.</h2>

            <div class="intro-info">
                <p class="lead">Whether you're a recruiter seeking top talent or a potential client with a project in
                    mind, I'm eager to hear from you. Let's discuss your needs, aspirations, and how I can help bring
                    your vision to life. From exploring job opportunities to collaborating on exciting projects, I'm
                    here to engage in meaningful conversations. Reach out via email or LinkedIn, and let's connect to
                    explore potential collaborations, employment opportunities, or project ideas. Looking forward to
                    hearing from you!</p>
            </div>
        </div>
    </div>
    <!-- /section-intro -->

    <div class="row button-section">
        <div class="col-twelve">
            <a class="button button-primary large" onclick="openEmail()" href="#" target="_blank">Let's Collaborate</a>
            <a href="https://www.linkedin.com/in/desaigner/" target="_blank"
                class="button button-primary large">LinkedIn</a>
            <a href="https://calendly.com/desaignstudio" target="_blank" class="button button-primary large">Schedule
                One:One</a>
        </div>
    </div>
    <!-- /call to action buttons -->

    <div class="row contact-info">
        <div class="col-four tab-full">
            <div class="icon">
                <i class="icon-pin"></i>
            </div>

            <h5>Where to find me</h5>

            <p style="background-color: antiquewhite; padding: 5px">
                <a href="https://www.google.com/maps/place/Austin,+TX/" target="_blank">Austin, Texas</a>
            </p>
        </div>

        <div class="col-four tab-full">
            <div class="icon">
                <i class="icon-mail"></i>
            </div>

            <h5>Email Me At</h5>

            <p style="background-color: antiquewhite; padding: 5px"><a onclick="openEmail()" href="#"
                    title="Collaborate with Me">Mail@TheGenius.One</a></p>
        </div>

        <div class="col-four tab-full">
            <div class="icon">
                <i class="icon-phone"></i>
            </div>

            <h5>Call Me At</h5>

            <p style="background-color: antiquewhite; padding: 5px">
                <a href="tel:15127697976">(+1) 512 769 7976</a>
            </p>
        </div>
    </div>
    <!-- /contact-info -->
</section>