<section class="parallax1" id="cta">
    <div class="row cta-content">
        <div class="col-twelve">
            <div id="testimonial-slider" class="carousel slide" data-ride="carousel" data-interval="10000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonial">
                            <h3>LinkedIn</h3>
                            <p class="text-light">&mdash;&mdash;&mdash;</p>
                            <p class="text-light">I was thrilled to work with Kratu for several years! He is a creative,
                                highly-skilled, thoughtful and excellent partner. I absolutely recommend him for any
                                graphic design or web development needs!</p>
                            <span class="text-warning">Michael Cation</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /cta-content -->
</section>