<section class="parallax1" id="cta">
    <div class="row cta-content">
        <div class="col-twelve">
            <p style="font-family: 'IBM Plex Serif', serif; color: white; font-size: 1.7rem">Thank you for your time and
                consideration. Discover more of my work on GitHub. Are you active on LinkedIn? Let's connect there to
                expand our professional network.</p>

            <div class="action">
                <a class="button button-primary large" href="https://github.com/kratuvwxyz" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/desaigner/" target="_blank"
                    class="button button-primary large">LinkedIn</a>
            </div>
        </div>
    </div>
    <!-- /cta-content -->
</section>