<footer>
    <div class="row">
        <div class="col-seven tab-full">
            <div id="logoDesaign" style="padding-bottom: 20px">
                <img class="lazy" src="https://desaign.app/clients/cli/images/logo/desaign-animate-once.svg"
                    alt="desaign llc" width="200" />
            </div>
            <div class="copyright">
                <span>Copyright &#160; &copy; &#160; 2011-
                    <script type="text/javascript">
                        var d = new Date();
                        document.write(d.getFullYear());
                    </script>
                </span>
                &#160;DESAIGN.STUDIO&#160; <span style="white-space: nowrap">All Rights Reserved.</span>
            </div>
        </div>

        <div class="col-five tab-full pull-right social">
            <ul class="footer-social" style="padding: 20px">
                <li>
                    <a href="https://github.com/kratuvwxyz" target="_blank"><i class="fa fa-github"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/desaigner/" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://dev.to/desaigner" target="_blank"><i class="fa fa-cube"></i></a>
                </li>
            </ul>
        </div>

        <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-arrow-up"></i></a>
        </div>
    </div>
    <!-- /row -->
</footer>