<header style="overflow: visible">
    <div class="row">
        <div class="top-bar">
            <a class="menu-toggle" href="#"><span><i class="fas fa-american-sign-language-interpreting"></i></span></a>

            <div class="logo">
                <a href="index.html" style="letter-spacing: 1px">DE<span style="font-weight: 700">SAI</span>GNER</a>
            </div>

            <nav id="main-nav-wrap">
                <ul class="main-navigation">
                    <li class="current"><a class="smoothscroll" href="#intro" title="Home">Introduction</a></li>
                    <li><a class="smoothscroll" href="#about" title="About">About</a></li>
                    <li><a class="smoothscroll" href="#portfolio" title="Portfolio">Portfolio</a></li>
                    <li><a class="smoothscroll" href="#resume" title="Trajectory">Trajectory</a></li>
                    <li><a class="smoothscroll" href="#services" title="Expertise">Expertise</a></li>
                    <li><a class="smoothscroll" href="#contact" title="Contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <!-- /top-bar -->
    </div>
    <!-- /row -->
</header>