<section id="intro">
    <div class="intro-overlay"></div>

    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">
                <p class="text-light text-center">Hello and welcome! Delighted to have you here.</p>
                <h1 class="display-1 text-light">I'm Krätu Dé<span class="text-warning">sãi</span></h1>
                <h3 class="text-light">
                    Comprehensive Full-Stack Developer <i class="cssOn670"><span class="text-secondary">&amp;</span></i>
                    Visual Design Enthusiast
                </h3>
                <hr class="border-secondary d-none d-md-block" />
                <h3>&nbsp;</h3>
                <p class="text-light text-center">Explore my journey and capabilities, including expertise, skills,
                    experiences, portfolio, and achievements.</p>

                <a class="button stroke smoothscroll" href="#about" title="More about me!">More About Me</a>
            </div>
        </div>
    </div>
    <!-- /intro-content -->

    <ul class="intro-social">
        <li>
            <a href="https://github.com/kratuvwxyz" target="_blank" title="More work on GitHub."><i
                    class="fa fa-github"></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/desaigner/" target="_blank" title="Let's connect on LinkedIn."><i
                    class="fa fa-linkedin"></i></a>
        </li>
        <li>
            <a href="https://dev.to/desaigner" target="_blank" title="Let me square with you."><i
                    class="fa fa-cube"></i></a>
        </li>
    </ul>
    <!-- /intro-social -->
</section>