<section id="portfolio" class="gray-section">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Portfolio</h5>

            <h2>Explore Some of My Works.</h2>

            <div class="intro-info">
                <!-- <img class="lazy" src="images/sai_8x10.jpg" alt="Profile Picture"> -->

                <p class="lead">Each project in my portfolio is a vibrant showcase of my talent in seamlessly blending
                    functionality with aesthetics, resulting in immersive digital experiences that captivate audiences.
                    With a dedication to crafting impactful solutions that resonate deeply, I bring a unique blend of
                    technical expertise and creative vision to every endeavor, ensuring that each interaction leaves a
                    lasting impression.</p>
            </div>
        </div>
    </div>
    <!-- /section-intro -->

    <!-- display portfolio -->
    <div class="row portfolio-content">
        <div class="col-twelve">
            <!-- portfolio-wrapper -->
            <div id="folio-wrapper" class="block-1-4 block-s-1-3 block-tab-1-2 block-mob-full stack"></div>
            <!-- /portfolio-wrapper -->
        </div>
        <!-- /twelve -->
    </div>
    <!-- /portfolio-content -->
</section>