<section id="resume" class="grey-section">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Trajectory</h5>

            <h2>More of my credentials.</h2>

            <div class="intro-info">
                <p class="lead">Developer by profession, Designer by passion, and Creative at the core.</p>
            </div>
        </div>
    </div>
    <!-- /section-intro-->

    <div class="row resume-timeline">
        <div class="col-twelve resume-header">
            <h2>Industry Experience</h2>
        </div>
        <!-- /resume-header -->

        <div class="col-twelve">
            <div class="timeline-wrap">
                <!-- # -->
                <div class="timeline-block">
                    <div class="timeline-ico">
                        <i class="fa fa-suitcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Senior Full-Stack Software Engineer</h3>
                        <p>Jun 2021 - Present</p>
                    </div>

                    <div class="timeline-content">
                        <h4>Paradigm Corporation, Remote</h4>
                        <ul class="myUL">
                            <li>
                                With a robust background in software development, I have spearheaded the creation of
                                backend systems for company applications utilizing JAVA 8/11, Spring Boot, JPA, and
                                Hibernate, ensuring optimal performance and functionality.
                                <ul class="nested1">
                                    <li>Complementing this, I have developed dynamic single-page applications employing
                                        Angular, React, EXTJS/Architect, Sencha, JasperSoft, Dojo, JavaScript ES6, HTML,
                                        and CSS, enhancing user experiences.</li>

                                    <li>Proficient in cloud services management, I have leveraged AWS technologies such
                                        as EC2, ECS, Lambda, and Fargate to streamline operations and scalability.</li>

                                    <li>My expertise extends to version control systems like Git/GitKraken, facilitating
                                        collaborative development processes.</li>

                                    <li>Moreover, I possess hands-on experience in cloud architecture, microservices,
                                        and the implementation of “serverless” applications, driving efficiency and
                                        innovation.</li>

                                    <li>Additionally, I have adeptly handled backend queries utilizing Oracle and MySQL
                                        databases and am wellversed in software containerization platforms like Docker,
                                        ensuring seamless deployment and management of applications.</li>
                                </ul>
                                <br />&#160;&#160;<span class="caret">&#160;</span>
                            </li>
                            <br />
                            <li><b>Skills: </b>Front-end Development · Back-end Operations · Oracle Database · Amazon
                                Web Services (AWS) · Java · JavaScript · AngularJS · React.js · MySQL</li>
                            <br />
                        </ul>
                    </div>
                </div>
                <!-- /timeline-block -->

                <div class="timeline-block">
                    <div class="timeline-ico">
                        <i class="fa fa-suitcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Creative Director of Digital Marketing and Integrated Branding</h3>
                        <p>Jan 2011 - Present</p>
                    </div>

                    <div class="timeline-content">
                        <h4>DESAIGN STUDIO, AUSTIN</h4>
                        <ul class="myUL">
                            <li>
                                I have been dedicated to delivering top-notch services and exceptional support to small
                                to mid-size enterprises and nonprofit organizations throughout my tenure.
                                <ul class="nested1">
                                    <!-- <li>Full-stack website, landing pages and provide ongoing maintenance.</li>
                    <li>New or update branding, logo design and create brand materials from scratch.</li>
                    <li>Marketing materials, social media campaign, digital promotions, flyers, banners, t-shirt
                      designs, and develop email marketing.</li> -->
                                    <li>My responsibilities include crafting marketing materials, managing social media
                                        campaigns, orchestrating digital promotions, designing flyers, banners, and
                                        t-shirts, and developing email marketing strategies tailored to the needs of
                                        small businesses and nonprofits.</li>

                                    <li>Additionally, I specialize in full-stack website development, user experience
                                        design, responsive UI creation, and ongoing website maintenance.</li>

                                    <li>I also excel in brand design, where I conceptualize and create brand elements
                                        that resonate with audiences and convey the brand's essence.</li>

                                    <li>Manage a team of designers, copywriters, digital marketers, and other creatives
                                        to generate innovative and compelling digital content and campaigns that
                                        resonate with target audiences.</li>

                                    <li>Develop and manage budgets for digital marketing and branding initiatives,
                                        allocating resources effectively to maximize impact and achieve business
                                        objectives within financial constraints.</li>

                                    <li>Stay curious and continuously seek learning and professional development
                                        opportunities in areas such as digital marketing trends, emerging technologies,
                                        and creative best practices to maintain a competitive edge and drive innovation.
                                    </li>
                                </ul>
                                <br />&#160;&#160;<span class="caret">&#160;</span>
                            </li>
                            <br />
                            <li><b>Skills: </b>Graphics · Logo Design · Digital Promotion · Social Media Marketing ·
                                Email Marketing · Branding & Identity · Marketing Material Creation · Back-end
                                Operations · Responsive UI Creation · User Experience Design · Visual Design ·
                                Full-Stack Development</li>
                            <br />
                        </ul>
                    </div>
                </div>
                <!-- /timeline-block -->

                <div class="timeline-block">
                    <div class="timeline-ico">
                        <i class="fa fa-suitcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Online Tutor and Teaching Assistant</h3>
                        <p>Nov 2018 - Oct 2021</p>
                    </div>

                    <div class="timeline-content">
                        <h4>THE UNIVERSITY OF TEXAS, AUSTIN</h4>
                        <ul class="myUL">
                            <li>
                                I served as an online tutor and teaching assistant, providing personalized support to
                                students, offering constructive feedback, and clarifying complex concepts.
                                <ul class="nested1">
                                    <li>I guided students through problem-solving processes, facilitated online
                                        discussions, and monitored their progress.</li>
                                    <li>I evaluated assignments, provided supplementary resources, and maintained open
                                        communication channels to address questions and concerns.</li>
                                    <li>I aimed to facilitate a positive and effective learning experience, helping
                                        students achieve their academic goals in UX/UI and full-stack web development
                                        boot camps at UT, Austin.</li>
                                </ul>
                                <br />&#160;&#160;<span class="caret">&#160;</span>
                            </li>
                            <br />
                            <li><b>Skills: </b>Communication · Presentation · Adaptability · Teaching · Back-end
                                Operations · Constructive Feedback · Creative Problem Solving · Resourcefulness</li>
                            <br />
                        </ul>
                    </div>
                </div>
                <!-- /timeline-block -->

                <div class="timeline-block">
                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Full-stack Web Development Program</h3>
                        <p>Mar 2018 - Oct 2018</p>
                    </div>

                    <div class="timeline-content">
                        <h4>UNIVERSITY OF TEXAS AT AUSTIN</h4>
                        <ul class="myUL">
                            <li>
                                I constructed over 20 meaningful projects during this program, acquiring practical
                                expertise in various full-stack development tools and technologies.
                                <!-- &#160;&#160;<span class="caret"></span><ul class="nested1">
                      <li><strong>List My Grocery.</strong> Created a recipe/grocery list building experience where you can track every ingredient, nutrient, and vitamins — built with JavaScript, jQuery, W3CSS, APIs, and AJAX.</li>
                      <li><strong>Petfolio Club.</strong> Created an app that helps pet owners to create a social media experience for their pets — built with JavaScript, Express.js, Node.js, MySQL, Passport.js, Handlebars.js, AJAX.</li>
                      <li><strong>Time Budgetment.</strong> Using React, created an app that helps freelancers to manage their time and money while finishing their task at the same platform — built with React.js, Mongo DB, Passport.js. Prototype on Adobe XD and deployed on Heroku.</li>
                    </ul> -->
                            </li>
                            <br />
                            <li><b>Skills: </b>Front-End Development · Critical Thinking · Project Management ·
                                JavaScript · JSON · Back-end Operations · HTML/CSS · Back-End Web Development · React.js
                                · User Experience Design · User Interface Design · Node.js · Database Development ·
                                Full-Stack Development · Graphics · Logo Design</li>
                            <br />
                        </ul>
                    </div>
                </div>
                <!-- /timeline-block -->

                <div class="timeline-block">
                    <div class="timeline-ico">
                        <i class="fa fa-suitcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Graphic Designer and Web Developer</h3>
                        <p>Jul 2015 - Jul 2018</p>
                    </div>

                    <div class="timeline-content">
                        <h4>CENTENE CORPORATION, AUSTIN</h4>
                        <ul class="myUL">
                            <li>
                                Served as an in-house Graphic Designer and Web Developer in the Marketing and
                                Communication team at Superior HealthPlan (AUS), connecting the company's nine different
                                products with members, providers, government relations, and internal communication.
                                <ul class="nested1">
                                    <li>Developed landing pages such as Discover Superior, Members First, and About Us
                                        using Adobe Experience Manager (AEM), HTML5, CSS3, and Photoshop.</li>

                                    <li>Created HTML and Outlook Email Templates to facilitate direct interaction with
                                        providers, resulting in a 15% increase in open email rates for the provider
                                        team.</li>

                                    <li>Utilized Microsoft Excel's macros feature to build Gantt Chart and Project Log
                                        tools, aiding in project prioritization and timely goal achievement.</li>

                                    <li>Managed three different campaigns by creating campaign web pages, posters,
                                        digital ads, Pandora ads, banners, transit ads, and billboards to promote
                                        Discover Superior.</li>

                                    <li>Produced bilingual materials for print, web, and social media platforms to
                                        effectively reach diverse audiences.</li>

                                    <li>Developed materials for web compliance with 508 standards, saving the company
                                        approximately $9,000 per year in contracted labor expenses.</li>

                                    <li>Recognized with the company's highest performance award for creating collateral
                                        materials and an animated video using Adobe After Effects for Superior's one
                                        million members celebration.</li>

                                    <li>Created two magazines featuring member and provider stories for internal
                                        communication purposes.</li>

                                    <li>Redesigned flyers for the 'Spotlight on Health' marketing campaign, contributing
                                        to a higher success rate for the campaign.</li>

                                    <li>Designed and developed interactive forms and materials for members and
                                        providers, leading to a significant reduction in workload and procedure time.
                                    </li>

                                    <li>Produced high-quality work within brand guidelines while operating in a
                                        fast-paced work environment with extremely tight deadlines.</li>
                                </ul>
                                <br />&#160;&#160;<span class="caret">&#160;</span>
                            </li>
                            <br />
                            <li><b>Skills: </b>HTML Emails · Graphics · Logo Design · User Experience (UX) · JavaScript
                                · Email Marketing · Front-end Development · Branding & Identity · Back-end Operations ·
                                Section 508 · Web Development · WordPress · SASS · Adobe Experience Manager (AEM) · User
                                Interface Design · Adobe Creative Suite · Visual Design · Databases · Marketing</li>
                            <br />
                        </ul>
                    </div>
                </div>
                <!-- /timeline-block -->

                <div class="timeline-block">
                    <div class="timeline-ico">
                        <i class="fa fa-suitcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Web Developer</h3>
                        <p>Mar 2015 - Jul 2015</p>
                    </div>

                    <div class="timeline-content">
                        <h4>GOLFSMITH INTERNATIONAL, AUSTIN</h4>
                        <ul class="myUL">
                            <li>
                                Assisted the web and marketing team in producing web and print materials.
                                <ul class="nested1">
                                    <li>Created web elements and email marketing materials for special sales events such
                                        as Father’s Day, Demo Day, and Tent Sale events, utilizing HTML, JavaScript,
                                        Photoshop, and InDesign.</li>

                                    <li>Collaborated with clients and Project Managers to build and refine layouts for
                                        websites, ensuring alignment with project requirements and objectives.</li>

                                    <li>Developed web pages for an internal promotional site, implementing functionality
                                        and design enhancements to improve user experience and engagement.</li>

                                    <li>Produced branding materials and promotional products using Adobe Creative Suite,
                                        maintaining consistency with brand guidelines and marketing objectives.</li>
                                </ul>
                                <br />&#160;&#160;<span class="caret"></span>
                            </li>
                            <br />
                            <li><b>Skills: </b>HTML Emails · Product Marketing · JavaScript · Email Marketing · Branding
                                & Identity · PHP · Back-end Operations · Web Development · WordPress · Adobe Creative
                                Suite</li>
                            <br />
                        </ul>
                    </div>
                </div>
                <!-- /timeline-block -->

                <div class="timeline-block">
                    <div class="timeline-ico">
                        <i class="fa fa-suitcase"></i>
                    </div>

                    <div class="timeline-header">
                        <h3>Production Lead</h3>
                        <p>Apr 2014 - Mar 2015</p>
                    </div>

                    <div class="timeline-content">
                        <h4>TOCQUIGNY DIGITAL AGENCY, AUSTIN</h4>
                        <ul class="myUL">
                            <li>
                                Overseeing all aspects of print production projects from inception to completion,
                                including scheduling, budgeting, and resource allocation.
                                <ul class="nested1">
                                    <li>Verified and ensured the quality, accuracy, clarity, content, registration, and
                                        vividness of creative work created and sent to print production, online
                                        presentation, or vendors for publishing.</li>

                                    <li>Reviewing and preparing print files for production, ensuring they meet quality
                                        standards, file specifications, and printing requirements.</li>

                                    <li>Created multiple versions of web layouts, mock-ups, digital ads, email
                                        templates, collateral, direct mail, and layouts while maintaining branding and
                                        requirements for clients such as Ergon Asphalt & Emulsions, Inc., Save My Road,
                                        Regent University, InfoSnap, Silicon Labs, LegacyTexas Bank, NGC, Freeman,
                                        Arthrocare, Rice University, NFP, TQ MOOK, World Vision, and more.</li>

                                    <li>Conducting thorough quality checks throughout the print production process,
                                        including color accuracy, image resolution, and print finishing, to ensure the
                                        final product meets client expectations.</li>

                                    <li>Conducted quality assurance for email marketing, coding, and web page layout
                                        design for the agency and clients.</li>
                                </ul>
                                <br />&#160;&#160;<span class="caret"></span>
                            </li>
                            <br />
                            <li><b>Skills: </b>Problem Solving · Graphics · Logo Design · Project Management · User
                                Experience (UX) · Email Marketing · Graphic Design · Quality Assurance · Web Development
                                · Art Direction · Adobe Creative Suite · Visual Design · Collaboration</li>
                            <br />
                        </ul>
                    </div>
                </div>
                <!-- /timeline-block -->
            </div>
            <!-- /timeline-wrap -->
        </div>
        <!-- /col-twelve -->
    </div>
    <!-- /resume-timeline -->

    <div class="row button-section">
        <div class="col-twelve">
            <a onclick="openEmail()" href="#" title="Collaborate with Me" class="button stroke smoothscroll">Let's
                Collaborate</a>
            <a href="images/KD_Resume.pdf" target="_black" title="Download CV" class="button button-primary"
                download>Download CV</a>
        </div>
    </div>
    <!-- /call to action buttons -->
</section>