<section id="services">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Expertise</h5>

            <h2>Proficient to Deliver Your Results</h2>

            <div class="intro-info" style="padding: 0 20px">
                <p class="lead">The heart of each creation should captivate, simple and clear, yet innovative, I'll
                    illustrate. My core principle is simple, <span
                        style="font-family: IBM Plex Serif, serif; color: white">Chase perfection to catch
                        excellence</span>. A mantra that drives relentless growth and achievement.</p>
            </div>
        </div>
    </div>
    <!-- /section-intro -->

    <div class="row services-content" style="display: flex; justify-content: center; max-width: 960px">
        <div class="services-list">
            <div class="service">
                <span class="icon"><i class="icon-window"></i></span>

                <div class="service-content">
                    <h3>Web and Full-Stack Applications</h3>

                    <p class="desc">Elevate your online presence with expertly crafted front-end and back-end solutions.
                        My responsive and interactive designs are not just visually stunning but also data-driven,
                        ensuring your platform remains socially connected and commercially viable.</p>
                </div>
            </div>
            <!-- /web and full-stack service -->

            <div class="service">
                <span class="icon"><i class="icon-pencil-ruler"></i></span>

                <div class="service-content">
                    <h3>User Experience (UX) Design</h3>

                    <p class="desc">Put your users at the center of everything. My UX design approach is rooted in
                        understanding user journeys, allowing me to identify and overcome existing constraints to
                        deliver seamless and intuitive experiences.</p>
                </div>
            </div>
            <!-- /ux design service -->

            <div class="service">
                <span class="icon"><i class="icon-paint-brush"></i></span>

                <div class="service-content">
                    <h3>User Interface (UI) Design</h3>

                    <p class="desc">Transform your vision into captivating interfaces. By seamlessly blending
                        information architecture, interaction design, and visual aesthetics, I deliver UI solutions that
                        captivate and compel users to engage.</p>
                </div>
            </div>
            <!-- /ui design service -->

            <div class="service">
                <span class="icon"><i class="icon-earth"></i></span>

                <div class="service-content">
                    <h3>Campaign and Marketing Expertise</h3>

                    <p class="desc">Gain a competitive edge with meticulously researched and strategically crafted
                        campaigns. I leverage digital platforms to effectively communicate your product's identity to
                        audiences worldwide, driving engagement and conversions.</p>
                </div>
            </div>
            <!-- /Campaign and Marketing Expertise service -->

            <div class="service">
                <span class="icon"><i class="icon-badge"></i></span>

                <div class="service-content">
                    <h3>Branding and Strategic Planning</h3>

                    <p class="desc">Define your brand's identity with precision. From captivating logos to iconic
                        typography, my visual guidelines and content production strategies are finely tuned to resonate
                        with your target market, ensuring your product stands out amidst the noise.</p>
                </div>
            </div>
            <!-- /Branding and Strategic Planning service -->

            <div class="service">
                <span class="icon"><i class="icon-camera"></i></span>

                <div class="service-content">
                    <h3>Motion and Interactive Design</h3>

                    <p class="desc">Bring your digital experiences to life with dynamic motion graphics, interactive
                        elements, infographics, and animations. My designs not only engage users but also leave a
                        lasting impression, enhancing brand recall and user engagement.</p>
                </div>
            </div>
            <!-- /Motion and Interactive Design service -->
        </div>
        <!-- /services-list -->
    </div>
    <!-- /services-content -->
</section>