<div class="bgrid folio-item web">
    <div class="item-wrap">
        <img class="lazy" src="images/portfolio/intro-bg-sm/intro-bg-6.jpg" alt="Project: Clicky Cards" />
        <a href="#modal-Clicky-Cards" class="overlay">
            <div class="folio-item-table">
                <div class="folio-item-cell">
                    <h3 class="folio-title">Clicky Cards</h3>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- Clicky Cards Modal -->
<div id="modal-Clicky-Cards" class="popup-modal slider mfp-hide">
    <div class="media">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 lazy" src="images/portfolio/modals/clickyCards/1.png" alt="First slide" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 lazy" src="images/portfolio/modals/clickyCards/2.png"
                        alt="Second slide" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 lazy" src="images/portfolio/modals/clickyCards/3.png" alt="Third slide" />
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 lazy" src="images/portfolio/modals/clickyCards/4.png" alt="First slide" />
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="description-box">
        <h4>Clicky Cards by Desaign Studio</h4>
        <p>Try not to click any duplicate cards, and you can win the game. App created on React. Each level gets
            trickier by adding two more cards. Also, once you click, cards shuffle!</p>

        <div class="categories"><span style="color: black">Tools:</span> JavaScript, React.js, SVG, Bootstrap,
            Deployed on GitHub</div>
        <div class="pt-5">
            <a href="https://kratuvwxyz.github.io/Clicky-Cards/" target="_blank" class="btn btn-lg btn-light"
                style="letter-spacing: 2px">Visit Webapp</a>
        </div>
    </div>

    <!-- <div class="link-box">
         <a href="" target="_blank">Let's Play</a>
         <a href="https://github.com/kratuvwxyz/Clicky-Cards" target="_blank">GitHub</a>
       </div> -->
    <a href="#" class="popup-modal-dismiss btn btn-light btn-lg btn-block"
        style="text-transform: uppercase; letter-spacing: 3px"><span
            style="color: white; font-weight: bolder; font-size: 15px"> </span> Back to Portfolio</a>
</div>