/* color pallet

dark yellow #FFF73B
light yellow #FCF89E
orange #F77A36
red #FC4E46
black #2c3936

*/


/* body */

body {
    background-color: #2c3936;
}


/* footer */

footer {
    background-color: #fcf89e;
    background-image: url("https://kratuvwxyz.github.io/assets/images/footer/halftone-yellow.svg");
}